# Categorização por Faixa de Valores

In [1]:
import pandas as pd

## Usando loc

In [2]:
df = pd.DataFrame({'Idade':[0,1,14,15,30,31,50,51,79,80]})
df.head()

   Idade
0      0
1      1
2     14
3     15
4     30

In [3]:
df.loc[ (df['Idade'] < 18), 'Categoria_Idade' ] = 'Criança'
df.head()

   Idade Categoria_Idade
0      0         Criança
1      1         Criança
2     14         Criança
3     15         Criança
4     30             NaN

In [4]:
df.loc[ (df['Idade'] >= 18) & (df['Idade'] <= 60), 'Categoria_Idade' ] = 'Adulto'
df.loc[ (df['Idade'] > 60), 'Categoria_Idade' ] = 'Terceira Idade'
df

   Idade Categoria_Idade
0      0         Criança
1      1         Criança
2     14         Criança
3     15         Criança
4     30          Adulto
5     31          Adulto
6     50          Adulto
7     51          Adulto
8     79  Terceira Idade
9     80  Terceira Idade

## Usando apply

In [5]:
df2 = pd.DataFrame({'Idade':[0,1,14,15,30,31,50,51,79,80]})
df2.head()

   Idade
0      0
1      1
2     14
3     15
4     30

In [6]:
def cat_idade(df):
    if df['Idade'] < 18:
        return 'Criança'
    elif df['Idade'] >= 18 and df['Idade'] <= 60:
        return 'Adulto'
    else:
        return 'Terceira Idade'

In [7]:
df2['Categoria_Idade'] = df2.apply(cat_idade, axis=1)

In [8]:
df2

   Idade Categoria_Idade
0      0         Criança
1      1         Criança
2     14         Criança
3     15         Criança
4     30          Adulto
5     31          Adulto
6     50          Adulto
7     51          Adulto
8     79  Terceira Idade
9     80  Terceira Idade